<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WMLinkMapAnalyzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0498C5FE1C3B792E008CDFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0498C6141C3B792F008CDFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0498C61F1C3B792F008CDFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
